body {
  font-family: "KoHo", sans-serif;
  height: 100vh;
  background-color: rgba(218, 224, 233, 0.342);
}

.koho-font {
  font-family: "KoHo", sans-serif;
}

.gradiant-nav {
  background: rgb(12, 49, 56);
  background: linear-gradient(
    90deg,
    rgb(8, 16, 19) -50%,
    rgb(14, 109, 138) 300%
  );
}

.admin-email,
.admin-email:hover {
  cursor: default;
  color: rgba(255, 255, 255, 0.418);
}

.shadow-box {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: 0px;
  -webkit-appearance: none;
}

.white-text {
  color: rgba(255, 255, 255, 0.8);
}

.login-form {
  margin-top: 10vh;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 12%;
  text-align: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.dash-content {
  padding-top: 10vh;
  padding-bottom: 2%;
}

.dash-cards,
.enter-data-form {
  min-height: 215px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.enter-data-form {
  cursor: auto;
  padding: 5%;
}

.dash-cards:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.large-icon {
  display: block;
  font-size: 500%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  width: 100%;
  position: absolute;
  padding: 8%;
}
.preview-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 20px;
  border-radius: 50%;
}
.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
img {
  object-fit: cover;
}
.card-title {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  margin-top: 10px;
  padding-left: 6%;
}
.link-text,
.link-text:active,
.link-text:link,
.link-text:visited,
.link-text:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.small-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.full-width {
  width: 100%;
}
.edit-option {
  position: absolute;
  margin-left: 80%;
  margin-top: -215px;
  background-color: rgba(255, 255, 255, 0.788);
  color: rgba(4, 22, 31, 0.842);
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.39);
  padding: 5px;
  cursor: pointer;
}
.edit-option:hover {
  background-color: rgba(255, 255, 255, 0.888);
  color: rgba(4, 22, 31, 0.842);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.59);
  cursor: pointer;
}

.form-control {
  margin-bottom: 10px;
  min-height: 45px;
}
.date {
}
.date::-webkit-inner-spin-button {
  display: none;
}

.table td,
th {
  text-align: center;
}
